
/*
 * File : Navegación Archivo
 * Contiene : Todos lo estilos relacionados 
 * a la sección / página - Navegación
 */

//Navegación
#mainNav
	font-family : 'DaxMedium' , sans-serif
	ul
		list-style-type: none 
		margin         : 0
		padding        : 0 
		&.main-menu 
			display        : flex 
			justify-content: space-around
			li 
				display : inline-block 
				padding : 0 0 0 36px
				a 
					+transition( all 600ms ease )
					color          : white 
					font-size      : 15px
					text-decoration: none !important 
				
				//Hover and active 
				&:hover 
					a 
						color : #ECB287

				//Primer elemento
				&:first-child 
					padding-left : 0
